@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
    --main-color: #e63946;
}
body{
	margin : 0;
	padding:0;
	font-family : Arial, Helvetica, sans-serif;	
	background-color : #ffffff;
	
}

.navbar{
	top : 0;
	left:0;
	right:0;
	height: 70px;
	position : sticky;
	background-color : #1CA7EC;	
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	align-items:center;
	
}
.navbar .logo{
	margin:3px;
	padding:3;
	align-content:center;
	float:left;
	text-transform:uppercase;
}

.navbar .logo ul{
	width:50px;
	height:30px;
	border-radius:15%;
}
.navbar .logo a{
	cursor:pointer;
	padding:12px 22px;	
	font-size:30px;
	font-family: brush script mt, cursive;
	color: #2F4F4F;
}
.navbar .logo a:hover{
	background-color:#ffffff;
}

.navbar .items{
	margin:3;
	padding:3;
	align-content:center;
	float:right;	
}
.navbar .items li{	
	display:inline;
	padding:18px 22px;	
	
}
.navbar .items li a.active,
.navbar .items li:hover{
	background-color:#ffffff;
	
}


.navbar .items li a{
	
	text-align:center;
	font-size:20px;
	cursor:pointer;
	text-decoration:none;
}
.introduction{
	
	top:100px;
	position:static;
	background-color: #FFE4E1;
	padding:12px 12px;
	width:100%;
	display:flex;
	align-items:center;
	
	
}
.introduction .info{
	width:50%;
	margin-right:50px;
	left:20px;
}
.introduction .info button{
	width:150px;
	height: 50px;
	background-color: #8FBC8F;
	text-align:center;
	font-weight:bold;
	border-radius:20px;
	cursor: pointer;
}
.introduction .info h1{
	font-size:50px;	
	color:#008080;
	
}
.introduction .info h2{
	font-size:30px;
	
}
.introduction .info h2 span{
	color:#008080;
	
}
.introduction .info p{
	text-align:justify;
}
.introduction .image img{
	width:600px;
	height:400px;
	border-radius:30%;
	mix-blend-mode: multiply;
}
.btnCV{
	display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #4682B4;
    color: #000000;
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration:none;
    border-radius:5px;
}

.btnCV:hover {
    background: #AFEEEE;
    letter-spacing: .2rem;
}

.education{
	left:50px;
	right:50px;
	position:static;
	padding:12px 12px;
	align-items:center;
}



.education h1{
	font-size:50px;	
	color:#008080;
	text-align:center;
}
.education hr{
	size:20px;
	color:#20B2AA;
	border:bold;
}
.education .box-container{
	
	display:flex;
	justify-content: center; 
    flex-wrap: wrap;
}

.education .box{
	background-color:#FFF8DC;
	height:250px;
	width:350px;
	align-content:center;
	margin-right:10px;
	border-radius:5%;
	justify-content:center;
	
}

.education .box .content{
	padding : 5px 5px;
	

}

.education .box .content h2{
	color:#008080;
	text-align:center;
}

.education .box .content h3 span{
	color:#008080;
	
}

.education .box .content h4 span{
	color:#008080;
	size:bold;
	
}

.education .box .content p span{
	color:#008080;
	size:bold;
	
}

.portfolio{
	padding:12px 12px;
	left:10px;
	right:10px;
	position:static;
	align-items:center;
	
}

.portfolio h1{
	font-size:50px;	
	color:#008080;
	text-align:center;
}


.portfolio .box-container{
	display:flex;
	background-color:#99ffff;
	justify-content: center; 
    flex-wrap: wrap;
}


.portfolio .box{
	background-color:#FFF8DC;
	height:400px;
	width:350px;
	align-content:center;
	margin-right:10px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	padding: 10px 10px;
	justify-content: center;
	left: 10px;
	border-radius:5%;
}
.portfolio .box:hover{
	background-color:#B0C4DE;;
	height:410px;
	width:360px;
}

.portfolio .box a{
	text-decoration: none;
}
.portfolio .box img{ 
	width:300px;
	height:290px;
	mix-blend-mode:multiply;
	align:center;
}
.portfolio .box .content{
	padding : 5px 5px;
	align-items:center;

}

.portfolio .box .content h2{
	text-align: center;
	color:#CD5C5C;
	
}
.contacts{
	padding:12px 12px;
	left:10px;
	right:10px;
	position:static;
	align-items:center;
	
	
}
.contacts h1{
	font-size:50px;	
	color:#008080;
	text-align:center;
}
.contacts .box-container{
	display:flex;
	justify-content: center; 
    
}

.contacts .box-container .box{
	width:460px;
	height:150px;
	background-color:#FFF8DC;
	margin-left:10px;
	margin-right:10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contacts .box-container .box:hover{
	width:470px;
	height:160px;
	background-color:#B0C4DE;
	cursor:pointer;
}

.contacts .box-container .box h2{
	text-align:center;
	color:#008080;
	
}
.contacts .box-container .box p{
	text-align:center;
	justify-content:center;
	font-size:20px;
	
}

.contacts .box-container .box h2 i{
	margin-right:8px; 
}
.contacts .socials{
	
	left:10px;
	right:10px;
	bottom:20px;
	height:200px;
	background-color:#AFEEEE;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contacts .socials:hover{
	left:7px;
	right:7px;
	background-color:#B0C4DE;
}

.contacts .socials h2{
	text-align:center;
	color:#008080;
}
.contacts .socials .networks{
	display:flex;
	justify-content: center; 
}
.contacts .socials .networks a{
	cursor:pointer;
	text-decoration:none;
	display:flex;
}
.contacts .socials i{
	align-items:center;
	margin-right:30px;
	margin-left:10px;
	font-size:100px;
}
.contacts .socials i.fa-linkedin-square{
	color:blue;
}
.contacts .socials i.fa-facebook-square{
	color:blue;	
}

.contacts .socials i.fa-twitter-square{
	color:#1E90FF;
}

.hamburger{
	 cursor: pointer;
	 display: none;
	 position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
 }
 .hamburger div{
	 width: 20px;
	 height: 3px;
	 margin: 5px 0;
	 background: #000;
 }


@media screen and (max-width: 768px) {
    
    .navbar.active .items {
        display: block;
    }
	
	.introduction {
        flex-direction: column;
        align-items: center;
        text-align: center;
		
    }


	.hamburger{
		 
		 display: block;
	}
 .hamburger div{
	 width: 20px;
	 height: 3px;
	 margin: 5px 0;
	 background: #000;
 }
    .introduction .info {
        width: 100%;
        margin-right: 0;
    }

    .introduction .image img {
        width: 80%; 
        height: auto;
    }
	.introduction p {
        font-size: 16px; 
        line-height: 1.5; 
    }
	
	.menu-icon {
    display: block;
	cursor: pointer;
 }
 
 .navbar .items {
    display: block;
    position: absolute;
    top: 70px; 
    background-color: #1CA7EC; 
    width: 100%;
    flex-direction: column;
	left: -100%;
 }
.navbar #nav_check:checked ~ .items{
	left: 0;
}
 .navbar .items li {
    display: block;
    padding: 10px;
 }

    .menu-items li a {
        text-decoration: none;
        color: #000;
    }
	
	.contacts .box-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
		margin-bottom: 10px;
    }
	
	.contacts .box-container .box{
        
		margin-bottom: 10px;
    }

    .socials {
        height: auto;
        margin-top: 20px;
    }

    .socials .networks {
        justify-content: center;
    }

    .contacts .box-container .box {
        width: 90%; 
    }
}
