@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{       
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    
}
:root{
    --bg-color:#2e94b9;
    --text-color:white;
    --second-bg-color:#005792;
}
/* Introduction Section */


.navbar{
    top: 0%;    
    width: 100%;
    height: 90px;
    background-color:var(--second-bg-color);
    align-items: center;
    display: flex;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    
}
.list_items{
    display: flex;
    align-items: center;
    list-style: none;
    flex:60%;    
}


.list_items ul{
    list-style: none;
    display: flex;   
}
p span{
    font-weight: bold;
    font-size: 15px;
    color: dodgerblue;
}
.nav_item {
    
    margin-right: 25px;
    font-size: 20px;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 15px 15px;
}

.nav_item:hover{
    background-color: bisque;
    border-radius: 20px;
    text-transform:uppercase;
    letter-spacing: .2rem;
    transition: 1s all ease-in-out;
    
}
a{
    color: white;
}

.nav_item a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav_item a:hover{
    color: var(--text-color);
}

.fa.fa-navicon,
.fa.fa-times{
	flex:10%;
    display: none;
    color: var(--text-color);
    
}

.hire_info{
    flex:30%;
    align-items: center;
    display: flex;
}

.hire_info .hire{
    display: inline-block;
    text-decoration: none;
    margin-top: .2rem;
    margin-right: 5px;
    padding: .8rem 3rem;
    background: #4682B4;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;

}

.hire:hover{
    background:cadetblue;    
    transition: 1s all ease-in-out;
    letter-spacing: .2rem;
}


/* Introduction Section */
.about_me{
    top:10px;
    display: flex;
    position: relative;
    width: 100%;    
    z-index: -3;
    overflow: hidden;    
}

.about_box{

    margin-top: 0px;
    margin-right: 100px;
    left: 0px;
    margin-bottom: 0px;
    width: 650px;
    height: 400px;
    justify-content: center;
    background-color:lightblue;
    border-top-right-radius: 150%;
}

.about_box p{
    text-wrap:wrap;
}

h1{
    align-content:center;
    font-family:'Times New Roman', Times, serif;
    padding: 20px 15px;
    color:var(--text-color);
    letter-spacing: .2rem;
}
.about_box h2{
    color:var(--text-color);
    align-content:center;
    font-family:'Times New Roman', Times, serif;
    padding: 10px 15px;
    letter-spacing: .2rem;
    text-wrap: wrap;
}
.about_box h2 span{
    margin: 5px;
    color: rgb(28, 119, 209);
    letter-spacing: .2rem;
    text-transform:uppercase;
}
/* Auto-Type Effect */
.auto_type {
    border-right: 2px solid #4682B4; /* Typing cursor */
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    width: 0;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Blinking cursor */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #4682B4; }
}


.picture {
    margin-top: 30px;
    margin-left: 20px;      
    align-content: center;
    
}

.about_box p{
    font-size: 18px;
    padding: 10px 15px;
    width: 400px;
    color:var(--text-color);    
}

.picture img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

/* Skills Section */

.skills h1{
    text-align: center;
    position: relative;
    color:var(--text-color);
}
.skills li h3{
    color:var(--text-color);
}

.skills .skill_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;   

}

.skills .skill_list li{
    margin-right: 50px;
}
.bar{
    background: #353b48;
    display: block;
    height: 15px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0.1px 3px rgba(0, 0, 0,0.12), 0.1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25,.8,.28,1);
}

.skill_list h3{
    text-align: center;
    color: var(--text-color);;
}
.bar span{
    height:15px;
    float: left;
    background:cadetblue;
    
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}

.javascript{
    width: 40%;
    animation: javascript 3s;
}

.cSharp{
    width: 85%;
    animation: cSharp 3s;
}

.python{
    width: 60%;
    animation: python 3s;
}
.powerbi{
    width: 60%;
    animation: powerbi 3s;
}
.m_azure{
    width: 60%;
    animation: m_azure 3s;
}




/* Education Section */
.education {
    position: relative;

    top: 15px;
    --bgColor: rgba(245, 245, 245);    
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    
  }
  .education h1 {
    text-align: center;
    color:var(--text-color);
    margin-bottom: 5rem;
}
  
.education ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  .education ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  .education ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  .education ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  .education ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);  
    text-align: center;
    background-color: var(--accent-color);  
    color: white;
    font-size: 1.25rem;
    font-weight: 700;  
    display: grid;
    place-content: center;
    position: relative;  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  .education ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  .education ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
  
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  .education ul li .title,
  .education ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
  }
  .education ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  .education ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  .education ul li .title::before,
  .education ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  .education ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  .education ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
/*Portfolio*/

.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    margin: 15px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
   
}

.card img {
    width: 100%;
    height: auto;
}

.description {
    padding: 15px;
    text-align: center;
}

.description h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4682B4;
}

.description p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.github-link {
    text-decoration: none;
    color: #fff;
    background-color: #4682B4;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.github-link:hover {
    background-color: cadetblue;
}


/*Styling Footer Sections*/

.footer{    
    bottom: 0;
    width: 100%;
    height: 280px;
    justify-content: center;
    display: flex;
    overflow: hidden;
    background-color: var(--second-bg-color);
}

.footer ul{
    list-style: none;
    left: 0;
}
.footer ul li{
    margin-bottom: 20px;
    
}


.footer ul li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

.fa .fa-twitter{
	font-family:sans-serif;
}

.fa.fa-twitter::before{
	content:"ùïè";
	font-size:1.2em;
}

.fa-github {
    color: #6e40c9;; 
    font-size: 30px; 
}
.fa-github:hover {
    color: #9c6efb; 
    transition: color 0.3s ease;
}
.fa-linkedin-square{
    color: #0077B5; 
    font-size: 30px; 
}

.fa-linkedin-square:hover {
    color: #005983; 
    transition: color 0.3s ease;
}
.fa-facebook-square {
    color: #1877F2; 
    font-size: 30px; 
}

.fa-facebook-square:hover {
    color: #165dbf; 
    transition: color 0.3s ease;
}
.fa-phone,
.fa-envelope,
.fa-briefcase{
    color :white;
}


.footer .social_media{    
    margin-right: 150px;
    width: 280px;
    align-items: center;
    justify-content: center;
}

.footer .social_media h1{    
    color: var(--text-color);;
    font-family: 'Times New Roman', Times, serif;
    width: 250px;
}

.footer .contact_details{    
    margin-right: 150px;
    width: 280px;
    align-items: center;
    justify-content: center;
}

.footer .contact_details h1{    
    color: var(--text-color);;
    font-family: 'Times New Roman', Times, serif;
}

.footer i{
    margin-right: 15px;
    font-size: 25px;
    left:0;
    text-align: center;
}



/*Animation*/

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes cSharp{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}



/*For small screen*/

@media screen and (max-width: 800px)  {  
    
    
    .list_items{
        display: none;
        flex-direction: column;
        top: 100px;        
        align-items: center;
        
    }

    .picture{
        display: none;
    }

    .hire_info{
        display: none;
        flex-direction: column;
    }

    
    

    .fa.fa-navicon{
        top: 15px;
        display: block;
        right: 20px;
        font-size: 30px;
        position: absolute;
    }
	
	.fa.fa-times{
		top: 15px;
        right: 20px;
        font-size: 30px;
        position: absolute;
		color: red;
	}

    .about_me{
        display: flex;
        flex-direction: column;
    }

    .about_me .about_box{
        width: 450px;
        border-top-right-radius: 150%;
    }

    .skills .skill_list{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        list-style: none;   
    
    }

    .education_container{
        display: flex;
        flex-direction: column;
    }

    .education_container .card_container{
        width:100%;
        align-content: center;
    }
    .education_container .card_container .card{
        width: 400px;
        margin-bottom: 20px;
    }

    .education_container .card_container .card .card_content{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .portfolio{
        display: flex;
        flex-direction: column;
    }

    .portfolio .card_container
    {
        align-content: center;
        width: 100%;
    }

    .portfolio .card_container .card{
        height: auto;
    }
    .portfolio .card_container .card .card_content{
        width: 300px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        height:fit-content;
        flex-wrap: wrap;
        
    }
    .portfolio .card_container .card .card_content h3{
        text-align: center;
    }

    .portfolio .card_container .card .card_content p{
        width: auto;
        text-wrap: wrap;
    }

    .footer{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 650px;
    }
	
	.contact_details{
		width: 100%;
	}
	
	.contact_details ul{
		align-items: left;
	}

    /*Showing navigation items when hamburger icon is clicked*/
    .active_hire{
        display: flex;
        flex-direction: column;
    }
    
    .active_items,ul{
        display: flex;
        flex-direction: column;
        top: 80px;        
        
    }
   
    /*Expand Navigation Bar when hamburger icon is clicked*/
    .navbar_expand{
        height: 450px;
        display: flex;
        flex-direction: column;
    }
    
  }